.dev.vars

/Target/*

!/Target/debug
!/Target/release
!/Target/x86_64-pc-windows-msvc

/Target/debug/*
/Target/release/*
/Target/x86_64-pc-windows-msvc/*

!/Target/debug/libEcho.rlib

!/Target/release/libEcho.rlib

!/Target/x86_64-pc-windows-msvc/libEcho.rlib

Documentation/Rust/debug
Documentation/Rust/release
Documentation/Rust/.rustc_info.json
Documentation/Rust/.rustdoc_fingerprint.json
Documentation/Rust/CACHEDIR.TAG
