.dev.vars

/Target/*

!/Target/debug
!/Target/release
!/Target/x86_64-pc-windows-msvc

/Target/debug/*
/Target/release/*
/Target/x86_64-pc-windows-msvc/*

!/Target/debug/libEcho.rlib

!/Target/release/libEcho.rlib

!/Target/x86_64-pc-windows-msvc/libEcho.rlib
